<!DOCTYPE html>
<html>

<head>
    <title>Schedule Create</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
<form action="create" method="POST">
    <div>
        <label for="">
            <span>second (0 - 59, OPTIONAL)</span>
            <input type="text" name="second">
        </label>
    </div>
    <div>
        <label for="">
            <span>minute (0 - 59)</span>
            <input type="text" name="minute">
        </label>
    </div>
    <div>
        <label for="">
            <span>hour (0 - 23)</span>
            <input type="text" name="hour">
        </label>
    </div>
    <div>
        <label for="">
            <span>day of month (1 - 31)</span>
            <input type="text" name="dayOfMonth">
        </label>
    </div>
    <div>
        <label for="">
            <span>month (1 - 12)</span>
            <input type="text" name="month">
        </label>
    </div>
    <div>
        <label for="">
            <span>day of week (0 - 7) (0 or 7 is Sun)</span>
            <input type="text" name="dayOfWeek">
        </label>
    </div>
    <div>
        <button>Submit</button>
    </div>
</form>
</body>

</html>